absl-py
alabaster
altgraph
ansicon
art
astunparse
Babel
blessed
cachetools
certifi
charset-normalizer
colorama
configparser
contourpy
cycler
docutils
et-xmlfile
Faker
feather-format
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
imagesize
importlib-metadata
inquirer
install
jax
Jinja2
jinxed
joblib
keras
kiwisolver
libclang
linkify-it-py
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdit-py-plugins
mdurl
ml-dtypes
mpi4py
npyscreen
numpy
oauthlib
openpyxl
opt-einsum
packaging
pandas
pefile
Pillow
protobuf
psycopg2
psycopg2-binary
pyarrow
pyasn1
pyasn1-modules
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQt6
PyQt6-Qt6
PyQt6-sip
pyqtgraph
python-dateutil
python-editor
python-ivi
pytz
PyVISA
PyVISA-py
PyVISA-sim
pywin32-ctypes
PyYAML
QDarkStyle
QtPy
readchar
redis
requests
requests-oauthlib
rich
rsa
scikit-learn
scipy
simple-term-menu
six
scikit-learn
snowballstemmer
Sphinx
sphinx-pdj-theme
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stringparser
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
textual
threadpoolctl
tqdm
typing_extensions
uc-micro-py
urllib3
wcwidth
Werkzeug
wrapt
XlsxWriter
zipp
